%div{ class: ['item', "#{active(@active_book, book.id)}" ] }
  .row
    .col-sm-5
      .general-img-wrap
        = image_tag book.title_photo, alt: book.alt, class: ['img-shadow', 'general-thumbnail-img']
    .col-sm-7
      .mb-60
        %h1= book.name
        %p.lead= book.short_description
        %p.lead.small= authors_to_string(book.authors)
        .general-align
          = link_to "Buy Now", book_path(book.id), class: 'btn btn-primary'
