
%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Sign Up
    = render "devise/shared/links"
    %p.general-login-text or

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'general-form'}) do |f|
    /= devise_error_messages!
    .form-group.mb-30
      = f.label :email, 'Enter Email', :class=>'control-label input-label'
      = f.email_field :email, class: 'form-control', placeholder: 'Enter Email', autofocus: true

    .form-group.mb-30
      = f.label :password, :class=>'control-label input-label'
      = f.password_field :password, class: 'form-control', autocomplete: "off", placeholder: "Enter password"
     
    .form-group.mb-30
      = f.label :password_confirmation, 'Confirm Password', :class=>'control-label input-label'
      = f.password_field :password_confirmation, class: 'form-control', autocomplete: "off", placeholder: "Confirm Password"
    
    .text-center
      = f.submit "Sign up", class: 'btn btn-default mb-20'

    %p.general-sign-text.text-center
      Have an Account?
      = link_to 'Log in', new_user_session_path, class: 'in-gold-500'
