%main.container.mb-res-50
  = render 'checkout_list', step: 3
  
  %h3.general-subtitle Credit Card
  = form_for(@order, url: wizard_path, method: :patch, class: 'max-600 mb-80') do |f|
    .form-group{ :class => field_class_when_error(:credit_card, :card_number) }
      = f.label :card_number, :class=>'control-label input-label'
      = f.number_field :card_number, class: 'form-control', placeholder: 'Card Number'
      %span.help-block{ :class => show_error_message(:credit_card, :card_number) }  
        Please enter a valid credit card number
    .row
      .col-sm-6
        .form-group{ :class => field_class_when_error(:credit_card, :card_name) }
          = f.label :card_name, "Name of Card", :class=>'control-label input-label'
          = f.text_field :card_name, class: 'form-control', placeholder: 'Name on Card'
      .col-sm-3
        .form-group{ :class => field_class_when_error(:credit_card, :mmyy) }
          = f.label :mmyy, "MM / YY", :class=>'control-label input-label'
          = f.text_field :mmyy, class: 'form-control', placeholder: 'MM / YY'
      .col-sm-3
        .form-group.relative{ :class => field_class_when_error(:credit_card, :cvv) }
          = f.label :cvv, "CVV", :class=>'control-label input-label'
          = f.number_field :cvv, class: 'form-control', placeholder: 'CVV'
          %i.fa.fa-question-circle.general-form-help
    .general-text-align
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        = render 'summary'
    .text-center
      /%button.btn.btn-default.mb-80 Save and Continue
      = f.submit 'Save and Continue', class: 'btn btn-default mb-80'
