= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :author
    = f.text_field :author
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :demensions
    = f.text_field :demensions
  .field
    = f.label :materials
    = f.text_field :materials
  .field
    = f.label :public_year
    = f.date_select :public_year
  .field
    = f.label :photo1
    = f.text_field :photo1
  .field
    = f.label :photo2
    = f.text_field :photo2
  .field
    = f.label :photo3
    = f.text_field :photo3
  .field
    = f.label :photo4
    = f.text_field :photo4
  .field
    = f.label :title_photo
    = f.text_field :title_photo
  .field
    = f.label :alt
    = f.text_field :alt
  .actions
    = f.submit 'Save'
