.col-xs-6.col-sm-3
  .general-thumb-wrap
    = form_tag(cart_path(id: book.id, sum: 1), method: 'patch') do 
      .thumbnail.general-thumbnail
        = image_tag title_photo(book), alt: book.alt, class: ['img-shadow', 'general-thumbnail-img']
        .thumb-hover
          .general-thumb-link-wrap
            = link_to book_path(id: book.id), class: ["thumb-hover-link", "shopping-cart-button"] do
              %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
            = button_tag(class: ["thumb-hover-link", "shopping-cart-button"]) do 
              %i.fa.fa-shopping-cart.thumb-icon{'aria-hidden': "true"}
            
          
  .general-thumb-info
    %p.title.max-book-mame-height= book.name
    %p.font-16.in-gold-500= to_euro(book.price)
    %span.divider-sm
    %p.lead.small= authors_to_string(book.authors)